/* reset */
* {font-family:'Noto Sans KR', sans-serif;font-weight:400;letter-spacing:0;color:#000;outline:none;}
body {padding:232px 0 0 0;margin:0;position:relative;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
img {width:100%;border:none;display:block;}
html,ul,ol,p,h1,h2,h3,h4,h5 {margin:0;padding:0;}
strong {font-weight:700;color:inherit;}
a {text-decoration: none;outline:none;font-size:inherit;color:inherit;}
ul li, ol li {list-style:none;vertical-align: middle}
textarea {resize:none;}
select {-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
form * {border:0;outline:0;margin:0;padding:0;}
input,button,textarea {border-radius:0;-webkit-appearance:none;box-shadow:none;}
svg {overflow:hidden;width:100%;height:100%;}
table {border-collapse:collapse;}
button {border:none;}

@media (max-width: 1080px) {
    body {padding: 116px 0 0 0;}
}

/* sprite */
.icon {background-image: url('../img/icon-sprite.png'); background-size: 500px 500px; background-repeat: no-repeat;}

@media (max-width: 1080px) {
    .icon-m {background-image: url('../img/m-icon-sprite.png'); background-size: 270px 355px;}
}

/* header */
header {position: fixed; width: 100%; left: 0; top: 0; z-index: 200; background: #fff; padding: 0 40px; box-sizing: border-box;}
header .wrap-header {max-width: 1240px; margin: 0 auto; text-align: right;}
header .logo {float: left;}
header .logo a {display: block; width: 176px; padding: 35px 0 33px;}
header .btn-menu {display: none;}
header nav {display: inline-block; vertical-align: top; padding: 20px 0 19px;}
header nav > ul > li {display: inline-block; vertical-align: top; margin-right: 60px;}
header nav > ul > li:nth-child(4) {margin-right: 45px;}
header nav > ul > li:last-child {margin-right: 0;}
header nav > ul > li > a::after {display: none; content: ''; position: absolute; width: 100%; height: 4px; left: 0; bottom: 0; background: #ffe100;}
header nav > ul > li > a {position: relative; display: block; font-size: 16px; line-height: 24px; font-weight: 600; letter-spacing: -0.06em; padding: 12px 0;}
header nav > ul > li > a.icon-arrow {display: none;}
header nav > ul > li > a .icon-go {display: inline-block; width: 13px; height: 13px; background-position: 0 0; vertical-align: top; margin: 7px 0 0 7px;}
header nav .depth2 {display: none;}
header nav .depth2 li {display: inline-block; vertical-align: top; padding: 0 25px;}
header nav .depth2 li a {position: relative; display: block; font-size: 16px; line-height: 20px; color: #444; letter-spacing: -0.05em; padding: 15px 0 16px; font-weight: 500;}
header nav .depth2 li a::after {display: none; content: ''; position: absolute; width: 100%; height: 2px; left: 0; bottom: -1px; background: #222;}

@media (min-width: 1081px) {
    header nav > ul > li:hover > a::after {display: block;}
    header nav > ul > li:hover > .depth2 {display: block; position: absolute; width: calc(100% + 80px); height: 51px; left: -40px; top: 87px; text-align: center; border: solid #f4f4f4; border-width: 1px 0; background-color: #fafbfc;}
    header nav > ul > li:hover > .depth2::before {content: ''; position: absolute; top: -20px; left: 0; width: 100%; height: 20px;}
    header nav .depth2 li:hover a {font-weight: 600;}
    header nav .depth2 li:hover a::after {display: block;}
}

@media (max-width: 1080px) {
    header {padding: 0;}
    header .logo a {width: 138px; padding: 22px 20px 23px;}
    header .btn-menu {position: relative; display: inline-block; z-index: 100; padding: 18px 20px; cursor: pointer;}
    header .btn-menu .icon-menu {display: inline-block; width: 20px; height: 18px; background-position: 0 0; vertical-align: top; margin-top: 3px;}
    header .btn-menu .icon-close {display: inline-block; width: 18px; height: 18px; background-position: -25px 0;}
    header nav {display: none;}
    header nav.active {display: block; position: fixed; width: 100%; height: 100%; top: 0; left: 0; padding: 79px 0 30px; overflow-y: auto; background: #fff; box-sizing: border-box;}
    header nav > ul {padding: 0 20px;}
    header nav > ul > li {display: block; text-align: left; margin: 0; border-bottom: 1px solid #e0e0e0;}
    header nav > ul > li:last-child {border-bottom: none;}
    header nav > ul > li:nth-child(4) {margin: 0;}
    header nav > ul > li > a {padding: 0 20px 0 0; font-size: 20px; line-height: 59px; letter-spacing: -0.04em;}
    header nav > ul > li > a .icon-go {position: absolute; right: 0; top: 50%; transform: translateY(-50%); margin: 0;}
    header nav > ul > li > a .icon-arrow {display: block; position: absolute; width: 16px; height: 9px; right: 0; top: 50%; transform: translateY(-50%); background-position: -45px 0;}
    header nav > ul > li.depth1.active > a .icon-arrow {background-position: -45px -10px;}
    header nav .depth1.active .depth2 {display: block;}
    header nav .depth2 {padding: 14px 0 16px; margin: -5px 0 -1px; border-top: 1px solid #aaa; border-bottom: 1px solid #efefef; background-color: rgba(246,247,249,0.5);}
    header nav .depth2 li {display: block; padding: 0;}
    header nav .depth2 li a {padding: 0 30px; color: #222; font-size: 14px; line-height: 35px; letter-spacing: -0.04em;}
}

/* main banner */
.main-banner {position: relative; padding-top: 109px;}
.main-banner h2 {position: absolute; max-width: 1100px; left: 0; right: 0; top: 0; margin: 0 auto; font-size: 54px; line-height: 70px; letter-spacing: -0.01em; padding: 0 25px; box-sizing: content-box;}
.main-banner strong {letter-spacing: -0.01em;}
.main-banner .point {font-weight: 700; box-shadow: inset 0 -30px 0 #ffdf17; letter-spacing: -0.01em;}
.main-banner .bg {height: 568px; background-image: url('../img/main-banner.png'); background-repeat: no-repeat; background-position: 0 0; background-size: cover;}

@media (max-width: 1080px) {
    .main-banner {padding-top: 56px;}
    .main-banner h2 {font-size: 27px; line-height: 36px; letter-spacing: -0.02em; word-wrap: break-word; word-break: keep-all;}
    .main-banner strong {letter-spacing: -0.02em;}
    .main-banner .point {box-shadow: inset 0 -15px 0 #ffdf17; letter-spacing: -0.02em;}
    .main-banner .bg {height: 79.167vw; background-image: url('../img/m-main-banner.png');}
}

/* main contents */
.main-contents {max-width: 1100px; margin: 0 auto; padding: 82px 25px 115px; box-sizing: content-box;}

.main-contents .content-left {display: inline-block; width: 640px; margin-right: -4px; vertical-align: top;}
.main-contents .content-left ul li {display: inline-block; width: 313px; height: 313px; vertical-align: top; border-radius: 40px; margin-right: -4px;}
.main-contents .content-left ul li:nth-child(even) {margin-left: 14px;}
.main-contents .content-left ul li:nth-child(1) {background: #ffce00;}
.main-contents .content-left ul li:nth-child(2) {margin-bottom: 14px; background: #4887f0;}
.main-contents .content-left ul li:nth-child(3) {background: #ff4e9d;}
.main-contents .content-left ul li:nth-child(4) {background: #f55;}
.main-contents .content-left ul li a {position: relative; display: block; width: 100%; height: 100%;}
.main-contents .content-left ul li .txt {padding: 40px 0 0 50px; font-weight: 600; font-size: 20px; color: #fff; line-height: 29px; letter-spacing: -0.02em;}
.main-contents .content-left ul li .icon-plus {position: absolute; width: 36px; height: 36px; right: 34px; top: 34px; background-position: -20px 0;}
.main-contents .content-left ul li .symbol {position: absolute; left: 50px; bottom: 50px;}
.main-contents .content-left ul li .icon-gift {width: 60px; height: 82px; background-position: -60px 0;}
.main-contents .content-left ul li .icon-store {bottom: 56px; width: 63px; height: 63px; background-position: -130px 0;}
.main-contents .content-left ul li .icon-cloth {left: 48px; width: 65px; height: 54px; background-position: -200px 0;}
.main-contents .content-left ul li .icon-how {width: 117px; height: 50px; background-position: -270px 0;}

.main-contents .content-right {float: right; width: 30.417vw; max-width: 365px; margin-top: 12px;}
.main-contents .content-right h3 {font-size: 18px; line-height: 27px; font-weight: 500;}
.main-contents .content-right .press {margin-bottom: 59px;}
.main-contents .content-right .press h3 {margin-bottom: 27px;}
.main-contents .content-right .press a {display: block;}
.main-contents .content-right .press a:hover {text-decoration: underline;}
.main-contents .content-right .press a p {font-size: 18px; font-weight: 700; line-height: 26px; letter-spacing: -0.045em; margin-bottom: 13px;}
.main-contents .content-right .press ul li {font-family: Arial; font-weight: 500; font-size: 15px; color: #666; line-height: 24px; letter-spacing: -0.045em;}
.main-contents .content-right .krew h3 {margin-bottom: 40px;}
.main-contents .content-right .krew .img-box {position: relative; width: 270px; margin: 0 auto;}
.main-contents .content-right .krew .profile {width: 186px; border-radius: 100%; overflow: hidden;}
.main-contents .content-right .krew .circle {position: absolute; width: 124px; height: 124px; right: 0; top: 40px; color: #fff; background: #000; border-radius: 100%;}
.main-contents .content-right .krew .circle p {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; color: #fff; text-align: center; font-size: 15px; line-height: 26px; letter-spacing: -0.05em; font-weight: 500;}
.main-contents .content-right .krew .circle p .name {display: block; color: #fff; padding: 2px 0; font-weight: 600; font-size: 22px; line-height: 26px; letter-spacing: -0.05em;}
.main-contents .content-right .krew .txt {position: relative; padding: 22px 44px 3px; font-weight: 500; font-size: 18px; line-height: 30px; letter-spacing: -0.05em;}
.main-contents .content-right .krew .txt strong {letter-spacing: -0.05em; text-decoration: underline;}
.main-contents .content-right .krew .txt .icon-quote1 {position: absolute; width: 29px; height: 24px; left: 0; top: 18px; background-position: 0 -40px;}
.main-contents .content-right .krew .txt .icon-quote2 {position: absolute; width: 29px; height: 24px; right: 0; bottom: 0; background-position: 0 -70px;}

@media (max-width: 1080px) {
    .main-contents {padding: 50px 20px 80px;}
    .main-contents .content-left {display: block; width: 100%;}
    .main-contents .content-left ul li {width: 49%; height: auto; border-radius: 20px;}
    .main-contents .content-left ul li:nth-child(even) {margin-left: 2%;}
    .main-contents .content-left ul li:nth-child(1),
    .main-contents .content-left ul li:nth-child(2) {margin-bottom: 2%;}
    .main-contents .content-left ul li a {position: relative; padding-bottom: 112.18%;}
    .main-contents .content-left ul li a .inner {position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
    .main-contents .content-left ul li .txt {padding: 20px 38px 0 24px; font-size: 16px; line-height: 20px; letter-spacing: -0.03em;}
    .main-contents .content-left ul li .icon-plus {background-image: url('../img/m-icon-sprite.png'); background-size: 270px 355px; right: 16px; top: 20px; width: 20px; height: 20px; background-position: -65px 0;}
    .main-contents .content-left ul li .symbol {background-image: url('../img/m-icon-sprite.png'); background-size: 270px 355px;}
    .main-contents .content-left ul li .icon-gift {left: 25px; bottom: 19px; width: 36px; height: 50px; background-position: 0 -35px;}
    .main-contents .content-left ul li .icon-store {left: 22px; bottom: 26px; width: 38px; height: 38px; background-position: -40px -20px;}
    .main-contents .content-left ul li .icon-cloth {left: 24px; bottom: 29px; width: 39px; height: 33px; background-position: -40px -60px;}
    .main-contents .content-left ul li .icon-how {left: 24px; bottom: 28px; width: 70px; height: 31px; background-position: 0 -95px;}

    .main-contents .content-right {float: none; width: 100%; max-width: none; margin-top: 65px;}
    .main-contents .content-right h3 {font-size: 14px; line-height: 20px;}
    .main-contents .content-right .press {margin-bottom: 65px;}
    .main-contents .content-right .press h3 {margin-bottom: 22px;}
    .main-contents .content-right .press a:hover {text-decoration: none;}
    .main-contents .content-right .press a p {font-size: 17px; line-height: 24px; letter-spacing: -0.03em; margin-bottom: 11px;}
    .main-contents .content-right .press ul li {line-height: 23px; letter-spacing: -0.02em;}
    .main-contents .content-right .krew h3 {margin-bottom: 22px;}
    .main-contents .content-right .krew .img-box {width: 253px;}
    .main-contents .content-right .krew .profile {width: 170px;}
    .main-contents .content-right .krew .circle {width: 114px; height: 114px; top: 38px; right: 4px;}
    .main-contents .content-right .krew .circle p {font-size: 14px; line-height: 24px; letter-spacing: -0.03em;}
    .main-contents .content-right .krew .circle p .name {font-size: 17px; letter-spacing: 0; line-height: 24px; padding: 0;}
    .main-contents .content-right .krew .txt {padding: 23px 0 0 37px; font-size: 17px; line-height: 27px; letter-spacing: -0.032em;}
    .main-contents .content-right .krew .txt .icon-quote2 {display: none;}
    .main-contents .content-right .krew .txt strong {letter-spacing: -0.032em;}
}

/* footer */
footer {padding: 60px 0 75px; background: #fafafa; overflow: hidden;}
footer .wrap-footer {max-width: 1100px; margin: 0 auto; padding: 0 20px; box-sizing: content-box;}
footer .wrap-footer > ul {display: inline-block; vertical-align: top;}
footer .wrap-footer .depth1 li {padding-bottom: 20px;}
footer .wrap-footer .depth1 li:last-child {padding-bottom: 0;}
footer .wrap-footer .depth1 li a {display: block; font-weight: 600; font-size: 15px; color: rgba(34,34,34,0.8); line-height: 22px; letter-spacing: -0.06em;}
footer .wrap-footer .depth1 li:hover a {text-decoration: underline;}
footer .wrap-footer .depth2 {margin-left: 64px;}
footer .wrap-footer .depth2 > li {font-weight: 600; font-size: 15px; color: rgba(34,34,34,0.8); line-height: 22px; letter-spacing: -0.06em;}
footer .wrap-footer .depth2 > li > ul {padding-top: 19px;}
footer .wrap-footer .depth2 > li > ul li {padding-bottom: 9px;}
footer .wrap-footer .depth2 > li > ul li:last-child {padding-bottom: 0;}
footer .wrap-footer .depth2 > li > ul li a {font-size: 14px; font-weight: 500; color: #888; line-height: 20px; letter-spacing: -0.06em;}
footer .wrap-footer .depth2 > li > ul li:hover a {text-decoration: underline;}
footer .wrap-footer .area-right {float: right;}
footer .wrap-footer .area-right address,
footer .wrap-footer .area-right p {font-size: 14px; font-weight: 500; color: #4d4d4d; line-height: 24px; letter-spacing: -0.06em; font-style: normal;}
footer .wrap-footer .area-right small {display: block; margin-top: 20px; font-size: 13px; color: #868686;}
footer .wrap-footer .area-right .family {width: 145px; margin-top: 19px;}

@media (max-width: 1080px) {
    footer {padding: 15px 0 21px;}
    footer .wrap-footer > ul {display: block;}
    footer .wrap-footer .depth1 li {padding-bottom: 15px;}
    footer .wrap-footer .depth1 li a {font-size: 12px; line-height: 18px; letter-spacing: -0.04em;}
    footer .wrap-footer .depth1 li:hover a {text-decoration: none;}
    footer .wrap-footer .depth2 {margin: 0;}
    footer .wrap-footer .depth2 > li {font-size: 12px; line-height: 18px; letter-spacing: -0.04em; padding-top: 15px;}
    footer .wrap-footer .depth2 > li > ul {display: none;}
    footer .wrap-footer .area-right {float: none; margin-top: 24px;}
    footer .wrap-footer .area-right address,
    footer .wrap-footer .area-right p {display: none;}
    footer .wrap-footer .area-right small {border-top: 1px solid #efefef; font-size: 11px; line-height: 13px; margin: 0; padding-top: 20px;}
    footer .wrap-footer .area-right .family {width: 107px; margin-top: 22px;}
}